body{
    text-align: center;
    background-color: rgb(218, 208, 208);
}

nav{
    margin: 50px;
}

a{
    padding: 1rem;
    background-color: red;
    margin: 1rem;
    border-radius: 2rem;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    background-color: white;
}

.selected{
    text-decoration: underline;
    background-color: white;
}

.gravatar{
    border-radius: 5rem;
    padding: 1rem;
}

button{
    padding: 1rem;
    border-radius: 2rem;
}

input{
    width: 30%;
    padding: .5rem;
}