input#fullName{
    width: 35vw;
}
input#password{
    width: 35vw;
}
input#username{
    width: 35vw;
}
#fullName{
    margin: auto;
}
#password{
    margin: auto;
}
#username{
    margin: auto;
}
#signUpBtn{
    width: 20%;
}